setuptools~=57.0.0
pytz~=2021.1
pm4py~=2.2.12
click~=8.0.1
numpy~=1.22.2
scipy~=1.7.1
pytest~=6.2.5
pandas~=1.4.1
python-dateutil~=2.8.2
-e ext_tools/Prosimos
# -e git+https://github.com/AutomatedProcessImprovement/Prosimos.git@3eae6c5e322a534bb47068f6373e9af572268c8f#egg=DiffResBP_Simulator&subdirectory=../../../ext_tools/Prosimos

